<% @title = "Work Project - Projects - Chitlist" %>
<h2><% title(@project.name, "Projects") %></h2>
<% admins_only do %>
  <%= link_to "Edit Project", edit_project_path(@project) %>
  <%= link_to "Delete Project", 
      project_path(@project), 
      method: :delete, 
      data: { confirm: 
        "Are you sure you want to delete this project?" } 
  %>
<% end %>

<% authorized?(:"create tasks", @project) do %>
  <%= link_to "New Task", new_project_task_path(@project) %>
<% end %>

<ul id='tasks'>
  <% @project.tasks.each do |task| %>
  <li>
    @<%= task.id %> -
    <%= link_to task.title, [@project, task] %>
  </li>
  <% end %>
</ul>